$base-color-lighter: rgba(29, 161, 242, 0.2);
$base-color: rgb(29, 161, 242);

.post-body {
  border-bottom: 1px solid #ebeef0;

  .bi-person-circle {
    font-size: 40px;
    color: $base-color;
  }

  .user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.middle {
  flex: 1;

  .username {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }

}

