<div class="post-body d-flex p-3">
  <i
    *ngIf="!picture || !picture.length"
    class="bi bi-person-circle d-flex align-items-start"
  ></i>
  <img *ngIf="picture && picture.length" class="user-picture" [src]="picture" />
  <div class="middle d-flex flex-column justify-content-center pl-3 pr-3">
    <div class="d-flex">
      <a class="username mr-3 pb-2 pt-2" [routerLink]="['/profile/', uid]">
        <span>{{ username }}</span>
      </a>
    </div>
  </div>
  <button
    class="btn simple-button red-button"
    *ngIf="loggedUser && loggedUserProfile && uid !== loggedUser.uid"
    (click)="unfollowUser()"
  >
    Unfollow
  </button>
</div>
