$base-color-lighter: rgba(29, 161, 242, 0.2);
$base-color: rgb(29, 161, 242);

.post-body {
  border-bottom: 1px solid #ebeef0;

  .bi-person-circle {
    font-size: 40px;
    color: $base-color;
  }

  .user-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}

.middle {
  flex: 1;

  .username {
    color: black;
    font-size: 16px;
    font-weight: bold;
  }
}

.simple-button {
  min-height: 32px;
  border-radius: 30px;
  padding-left: 10px;
  padding-right: 10px;
  color: $base-color;
  background-color: transparent;
  box-shadow: 0 0 0 1px $base-color;

  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  transition-duration: 0.2s;
  &:hover {
    background-color: rgb(230, 244, 253);
  }
}

.red-button {
  background: rgb(202, 32, 85);
  color: white;
  box-shadow: 0 0 0 1px rgb(202, 32, 85);

  &:hover {
    background-color: rgb(160, 44, 81);
  }
}