<div class="content d-flex flex-grow-1 h-100">
  <div class="left-side d-flex align-items-center justify-content-center">
    <i class="cat-icon icon-logo cat-logo"></i>
  </div>
  <div class="right-side d-flex align-items-center">
    <div class="menu d-flex flex-column justify-content-start p-4">
      <i class="cat-icon icon-logo cat-logo"></i>
      <span class="first-title">Happening now</span>
      <span class="second-title">Join Kitter today.</span>
      <a class="btn main-button mb-5" routerLink="/explore">
        <span style="font-size: 23px; margin-right: 5px">
          <b>#</b>
        </span>
        <span>Explore</span>
      </a>
      <a class="btn main-button mb-3" routerLink="/login">Log in</a>
      <a class="btn main-button sign-up-button" routerLink="/signup">Sign up</a>
    </div>
  </div>
</div>
<div class="footer p-2">© Kitter 2021</div>
