<div class="p-3 go-back">
  <a routerLink="/home">
    <i class="bi bi-arrow-left pr-2"></i>
    <span>Go to start page</span>
  </a>
</div>
<div
  class="main w-100 h-100 d-flex flex-column align-items-center justify-content-center"
>
  <form class="signup-form w-100 pl-4 pr-4" (submit)="submitForm()">
    <div class="logo"><i class="cat-icon icon-logo cat-logo"></i></div>
    <div class="title mt-3 mb-3"><span>Create your account</span></div>
    <div class="invalid-resp text-danger ml-1 mb-1" *ngIf="!validName">
      Name must have at least 4 characters.
    </div>
    <div class="form-group floating">
      <input
        type="text"
        class="form-control floating"
        [ngClass]="validName ? '' : 'is-invalid'"
        id="name"
        required
        value=""
        [(ngModel)]="name"
        name="name"
      />
      <label for="name">Name</label>
    </div>
    <div class="invalid-resp text-danger ml-1 mb-1" *ngIf="!validEmail">
      Email must have a valid format.
    </div>
    <div class="form-group floating">
      <input
        type="text"
        class="form-control floating"
        [ngClass]="validEmail ? '' : 'is-invalid'"
        id="email"
        required
        value=""
        [(ngModel)]="email"
        name="email"
      />
      <label for="email">Email</label>
    </div>
    <div class="invalid-resp text-danger ml-1 mb-1" *ngIf="!validPassword">
      Password must have at least 6 characters.
    </div>
    <div class="form-group floating">
      <input
        type="password"
        class="form-control floating"
        [ngClass]="validPassword ? '' : 'is-invalid'"
        id="password"
        required
        value=""
        [(ngModel)]="password"
        name="password"
      />
      <label for="password">Password</label>
    </div>
    <button class="btn login-button w-100 mb-3 mt-3">Create account</button>
  </form>
  <a routerLink="/login">Already have an account? Log in!</a>
</div>

<div class="form-container"></div>
