$base-color: rgb(29, 161, 242);
$button-color: rgb(29, 161, 242);

.cover-picture {
  max-height: 200px;
}

.circle {
  min-height: 150px;
  min-width: 150px;
  background: white;
  border-radius: 50%;
  margin-top: -75px;

  @media screen and (max-width: 800px) {
    min-height: 100px;
    min-width: 100px;
    margin-top: -50px;
  }

  .bi::before {
    font-size: 140px;
    color: $base-color;
    background: white;
    border-radius: 50%;

    @media screen and (max-width: 800px) {
      font-size: 90px;
    }
  }

  .user-picture {
    min-height: 140px;
    border-radius: 50%;

    @media screen and (max-width: 800px) {
      min-height: 90px;
      max-height: 90px;
    }
  }
}

.user-info {
  min-height: 60px;
}

.user-name {
  font-size: 23px;
  font-weight: bold;
  margin-bottom: 0.3rem;
}

.btn-wrapper {
  min-height: 60px;
  padding-top: 10px;

  @media screen and (min-width: 800px) {
    padding-top: 20px;
  }
}

.simple-button {
  min-height: 48px;
  border-radius: 30px;
  padding-left: 20px;
  padding-right: 20px;
  color: $base-color;
  background-color: transparent;
  box-shadow: 0 0 0 1px $base-color;

  font-weight: 700;
  font-size: 15px;
  line-height: 20px;

  transition-duration: 0.2s;
  &:hover {
    background-color: rgb(230, 244, 253);
  }
}

.red-button {
  background: rgb(202, 32, 85);
  color: white;
  box-shadow: 0 0 0 1px rgb(202, 32, 85);

  &:hover {
    background-color: rgb(160, 44, 81);
  }
}

.edit-button {
  @media screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 1rem;
  }
}

.logout-button {
  @media screen and (min-width: 450px) {
    display: none;
  }

  @media screen and (max-width: 450px) {
    padding-left: 10px;
    padding-right: 10px;
  }
}
